.DS_Store
/target/
/javadoc/
/.sass-cache/
faces-config.NavData
nb-configuration.xml
nbactions.xml

node_modules
package-lock.json

/.vscode/
/.idea/
/.settings/
.classpath
.factorypath
.project

/data/
/nbproject/
